
@font-face {
    font-family: 'anton';
    src: local('anton'), url('./fonts/anton.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Vagabondfed';
    src: local('Vagabondfed'), url('./fonts/Vagabondfed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
